@model Prj_CSharpGo.Models.ViewModels.EmployeeOrder

@{
    ViewData["Title"] = "OrderEdit";
    Layout = "EmployeeLayout";
}


<h1>訂單編號 : @Model._order.OrderId</h1>



<hr />

<form action="/Employee/OrderEdit/@Model._order.OrderId" method="post">

    @Html.AntiForgeryToken()
    <table class="table">
        <thead>
            <tr>
                <th>
                    產品編號
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    單價
                </th>
                <th>
                    數量
                </th>
                <th>
                    Commets
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
            <tr>
                <td>
                    @item.ProductId
                </td>
                <td>
                    @Model.Products.FirstOrDefault(x=>x.ProductId== item.ProductId).ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>



                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Commets
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        @*<input type="submit" value="確定送出" class="btn btn-primary" />*@
        <a href="/Employee/Order" class="btn btn-danger">回到清單</a>
    </div>
</form>
