@using Microsoft.AspNetCore.Http

@model Prj_CSharpGo.Models.Product
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "ProductEdit";
    Layout = "EmployeeLayout";
}

<h1>商品編輯</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/ProductEdit/@Model.ProductId" method="post">

            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductId">編號</label>
                <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="ProductId" name="ProductId" readonly value="@Model.ProductId" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="CategoryId">類別</label>

                <select name="CategoryId" class="form-control col-sm-9">
                    @{if (Model.CategoryId == "A ")
                        {
                            <option value="A " selected>帳篷</option>
                            <option value="B ">寢具</option>
                            <option value="C ">戶外家具</option>
                            <option value="D ">廚房用品</option>
                            <option value="E ">食品</option>
                        }
                        else if (Model.CategoryId == "B ")
                        {
                            <option value="A ">帳篷</option>
                            <option value="B " selected>寢具</option>
                            <option value="C ">戶外家具</option>
                            <option value="D ">廚房用品</option>
                            <option value="E ">食品</option>
                        }
                        else if (Model.CategoryId == "C ")
                        {
                            <option value="A ">帳篷</option>
                            <option value="B ">寢具</option>
                            <option value="C " selected>戶外家具</option>
                            <option value="D ">廚房用品</option>
                            <option value="E ">食品</option>
                        }
                        else if (Model.CategoryId == "D ")
                        {
                            <option value="A ">帳篷</option>
                            <option value="B ">寢具</option>
                            <option value="C ">戶外家具</option>
                            <option value="D " selected>廚房用品</option>
                            <option value="E ">食品</option>
                        }
                        else
                        {
                            <option value="A ">帳篷</option>
                            <option value="B ">寢具</option>
                            <option value="C ">戶外家具</option>
                            <option value="D ">廚房用品</option>
                            <option value="E " selected>食品</option>
                        }
                    }

                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductName">名稱</label>
                <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="ProductName" name="ProductName" value="@Model.ProductName" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductDescription">敘述</label>
                <input class="form-control col-sm-9" type="text" id="ProductDescription" name="ProductDescription" value="@Model.ProductDescription" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductDescription" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Specification">規格</label>
                <input class="form-control col-sm-9" type="text" id="Specification" name="Specification" value="@Model.Specification" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Specification" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UnitPrice">單價</label>
                <input class="form-control col-sm-9" type="text" id="UnitPrice" name="UnitPrice" data-val="true" data-val-required="不可空白" data-val-number="應為數字" value="@Model.UnitPrice" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid fa-pull-right" data-valmsg-for="UnitPrice" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UnitInStock">庫存</label>
                <input class="form-control col-sm-9" type="text" id="UnitInStock" name="UnitInStock" data-val="true" data-val-required="不可空白" data-val-number="應為數字" value="@Model.UnitInStock" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UnitInStock" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Status">商品狀態</label>
                <select name="Status" class="form-control col-sm-9">
                    @{if (Model.Status == "01")
                        {
                            <option value="01" selected>販賣中</option>
                            <option value="02">停賣</option>
                        }
                        else
                        {
                            <option value="01">販賣中</option>
                            <option value="02" selected>停賣</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" />
                <a href="/Employee/Product" class="btn btn-danger">回到清單</a>
            </div>
        </form>
    </div>
</div>

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}