@using Prj_CSharpGo.Models.ViewModels

@model RecipeProduct

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/Didi/css/recipe.css">

@*Start Contact*@
<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" action="/Recipe/Edit" data-ajax='false' enctype="multipart/form-data">
            <input type="text" name="RecipeId" value="@Model.Recipe.RecipeId" hidden>
            @*上傳圖片 JS在最下面*@
            <div style="text-align:center" class=" inputimg">
                <img id="output" style="max-width: 400px; max-height: 400px; display: block; margin: auto; " class="mt-1" src="~/Didi/img/@Model.Recipe.Img" />
                <input type="file" name="Img" accept="image/*" onchange="loadFile(event)" style="margin-top:10px;">
            </div>
            <br> <br> <br>
            @*上傳圖片*@
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">RecipeName</label>
                    <input type="text" class="form-control mt-1" name="RecipeName" value="@Model.Recipe.RecipeName">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">CreateDate</label>
                    <input type="text" class="form-control mt-1" name="CreateTime" value="@Model.Recipe.CreateTime">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">準備時間時間PreparationTime</label>
                    <input type="text" class="form-control mt-1" name="PreparationTime" value="@Model.Recipe.PreparationTime">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">料理時間Cooking time</label>
                    <input type="text" class="form-control mt-1" name="CookingTime" value="@Model.Recipe.CookingTime">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">份量Yield</label>
                    <input type="text" class="form-control mt-1" name="Yield" value="@Model.Recipe.Yield">
                </div>
            </div>

            @*食材清單*@
        <div id="ass_area">
            @* 如果沒有對應的Associations給他一個與新增相同的預設 *@
            @if (Model.Associations.Count() > 0)
            {
                var index = 0;
                foreach (var ass in Model.Associations)
                {
                    <div class="row" id="row_@index">
                        <input type="text" class="form-control mt-1" name="Description[@index].Key" value="@index" hidden>
                        <input type="text" class="form-control mt-1" name="ProductID[@index].Key" value="@index" hidden>
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputsubject">FOOD_Description</label>
                            <div class="row">
                                <div class="col-md-2" style="float:left">
                                    <button id="ass_add" type="button" class="bi bi-plus form-control mt-1"></button>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control mt-1" name="Description[@index].Value"  value="@ass.Description" placeholder="Description">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputsubject">Product</label>
                            <div class="=row">
                                <div class="col-md-8">
                                    <select class="form-control mt-1" style="float: left;">
                                        <option value="0">食材選擇</option>
                                        @* 這邊無法用2次Model去foreach，所以用ViewData取代(controller也要寫) *@
                                        @{ foreach (var pro in ViewData["Products"] as List<Product>)
                                            {
                                                @* 比對Associations.ProductId是否與Product.ProductId相同=>相同預設選取 *@
                                                if (ass.ProductId == pro.ProductId)
                                                {
                                                    <option value="@pro.ProductId" selected>@pro.ProductName </option>
                                                }
                                                else
                                                {
                                                    <option value="@pro.ProductId">@pro.ProductName </option>
                                                }

                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2" style="float: left;margin-left:5px;">
                                    <button type="button" class="form-control mt-1" onclick="del_row(this)" data-id="0">Del</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    index++;
                }
            }
            else
            {
                    <div class="row" id="row_0">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputsubject">FOOD_Description</label>
                            <input type="text" class="form-control mt-1" name="Description[0].Value" placeholder="Description">
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputsubject">Product</label>
                            <div class="=row">
                                <div class="col-md-8">
                                    <select class="form-control mt-1" style="float: left;">
                                        <option value="0">食材選擇</option>
                                        @{ foreach (var item in Model.Products)
                                            {
                                                <option value="@item.ProductId">@item.ProductName </option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2" style="float: left;margin-left:5px;">
                                    <button type="button" class="form-control mt-1" onclick="del_row(this)" data-id="0">Del</button>
                                </div>
                            </div>
                        </div>
                    </div>
            }

        </div>
            <div class="mb-3">
                <label for="inputmessage">01.備料Preparation</label>
                <textarea class="form-control mt-1" name="Preparation" rows="8">@Model.Recipe.Preparation</textarea>
            </div>
            <div class="mb-3">
                <label for="inputmessage">02.烹煮步驟Step</label>
                <textarea class="form-control mt-1" name="Step" rows="8">@Model.Recipe.Step</textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>


@* select option，給js使用新增項目 *@
<select id="porduct_select_area" hidden>
    <option value="0">食材選擇</option>
    @{
        foreach (var item in Model.Products)
        {
            <option value="@item.ProductId">@item.ProductName </option>
        }
    }
</select>
@*End Contact*@



@section Scripts {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };


        // ASS_ADD
        $('#ass_add').on('click', function () {
            console.log('114');
            // 計算現在有多少row
            var row_num = $('#ass_area').children('.row').length;
            var html = "";
            var option_html = $("#porduct_select_area").html();

            html += '<div class="row" id="row_' + row_num + '">';
            html += '<input type="text" class="form-control mt-1" name="Description[' + row_num + '].Key" value="' + row_num + '" hidden>';
            html += '<input type="text" class="form-control mt-1" name="ProductID[' + row_num + '].Key" value="' + row_num + '" hidden>';
            html += '<div class="form-group col-md-6 mb-3" >';
            html += '<label for= "inputsubject" > FOOD_Description</label >';
            html += '<input type = "text" class="form-control mt-1" name = "Description[' + row_num + '].Value" placeholder = "Description" >';
            html += '</div>';
            html += '<div class="form-group col-md-6 mb-3" >';
            html += '<label for= "inputsubject" > Product</label >';
            html += '<div class="row">';
            html += '<div class="col-md-8"><select class="form-control mt-1 style="float: left;"" name = "ProductID[' + row_num + '].Value" >';
            html += option_html;
            html += '</select> ';
            html += '</div>';
            html += '<div class="col-md-2" style=" float: left;margin-left:5px;"><button type="button"class="form-control mt-1" onclick="del_row(this)" data-id="' + row_num + '">Del</button></div>';
            html += '</div>';
            html += '</div>';
            console.log(html);
            $('#ass_area').append(html);
        });

        function del_row(obj) {
            var row_num = $(obj).data('id');
            $("#row_" + row_num).remove();
        }
    </script>
}

