
@{

    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="product-row">
    <!-- 商品列表 -->
    <div class="col-md-12">
        <section class="products-content">





            <div class="row" style="padding: 15px 0;">


                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 經典白色2人帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 經典白色2人帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$6800</ins>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 經典白色六角300帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 經典白色六角300帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$8800</ins>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 經典白色八角帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 經典白色八角帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$16500</ins>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Landbreeze 2 寢室帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Landbreeze 2 寢室帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$17900</ins>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Landbreeze 4 寢室帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Landbreeze 4 寢室帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$21000</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Landbreeze 6 寢室帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Landbreeze 6 寢室帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$28000</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="氣候達人網屋/400"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">氣候達人網屋/400</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$22600</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="氣候達人CORE 網屋Ⅱ"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">氣候達人CORE 網屋Ⅱ</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$26999</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Lounge 客廳帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Lounge 客廳帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$28000</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="紗網客廳帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">紗網客廳帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$23900</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="加長型客廳帳Pro."><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">加長型客廳帳Pro.</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$51000</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 經典白色六角天幕"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 經典白色六角天幕</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$4800</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="六角蝶形天幕帳 Pro."><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">六角蝶形天幕帳 Pro.</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$11900</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="LS多功能天幕-L"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">LS多功能天幕-L</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$25250</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="多功能紗網天幕"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">多功能紗網天幕</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$11900</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Ydun 5.5 專用內掛帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Ydun 5.5 專用內掛帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$9080</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Alfheim 12.6 專用內掛帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Alfheim 12.6 專用內掛帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$9000</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Utgard 13.2 專用內掛帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Utgard 13.2 專用內掛帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$8080</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Penta 內置紗網帳"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Penta 內置紗網帳</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$4780</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Utgard 13.2 專用底布"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Utgard 13.2 專用底布</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$14580</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Alfheim 12.6 專用底布"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Alfheim 12.6 專用底布</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$14080</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="拱形隧道帳 地墊地布組"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">拱形隧道帳 地墊地布組</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$6510</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="LB 客廳帳 -頂布灰色"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">LB 客廳帳 -頂布灰色</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$3200</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="Land Lock 別墅帳 內帳地墊"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">Land Lock 別墅帳 內帳地墊</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$8800</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 原木營柱240cm"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 原木營柱240cm</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$1850</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 鋁製營柱240cm-黑"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 鋁製營柱240cm-黑</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$2100</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 鍛造營槌"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 鍛造營槌</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$1280</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="鍛造強化鋼營釘-20"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">鍛造強化鋼營釘-20</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$120</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="鍛造強化鋼營釘 -30"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">鍛造強化鋼營釘 -30</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$160</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="鍛造強化鋼營釘 -40"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">鍛造強化鋼營釘 -40</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$320</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 營繩綠20m"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 營繩綠20m</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$380</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 日本製不鏽鋼營燈掛勾"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 日本製不鏽鋼營燈掛勾</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$680</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="CS 驅蚊桶蠟燭"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">CS 驅蚊桶蠟燭</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$420</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="鋁製營繩調節片/10入組"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">鋁製營繩調節片/10入組</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$310</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="三角營繩調節片/10入組"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">三角營繩調節片/10入組</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$620</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="營繩-2.5mm/15米"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">營繩-2.5mm/15米</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$460</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="營繩-5mm/20米"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">營繩-5mm/20米</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$690</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="BLACK Nature style 桌椅架 香魚"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">BLACK Nature style 桌椅架 香魚</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$1800</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="BLACK Nature picnic table _ 日青"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">BLACK Nature picnic table _ 日青</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$3600</ins>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="product-col">
                        <div class="image">

                            <a href="/products/m-1324" title="BLACK Nature 木折桌 - 弓藏"><img src="" alt="product" class="img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h4><a href="/products/m-1324">BLACK Nature 木折桌 - 弓藏</a></h4>
                            <div class="description">

                            </div>
                            <div class="price">

                                <ins>NT$6300</ins>
                            </div>


        </div>
                    </div>
                </div>


                
    </div>

            <input type="text" name="SearchString" />
            <input type="submit" value="搜尋" />
        </p>
    </form>

        </section>
    </div>
</div>

            <thead>
                <tr>
                    <th>
                    </th>


                    <th>
                    </th>

                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>

                        <td width="30%">@item.ProductId</td>
                        <td width="30%">@item.CategoryId</td>
                        <td width="30%">@item.ProductName</td>
                        <td width="30%">@item.ProductDescription</td>
                        <td width="30%">@item.Specification</td>
                        <td width="30%">@item.Cost</td>
                        <td width="30%">@item.UnitPrice</td>
                        <td width="30%">@item.UnitInStock</td>
                        <td width="30%">@item.Status</td>
                        <td width="30%">@item.Approval</td>

                    </tr>
                }
            </tbody>
