@using Microsoft.AspNetCore.Http

@*@model Prj_CSharpGo.Models.ShopCartViewModels.returnshCartIndexVM*@

@model Prj_CSharpGo.Models.ShopCartViewModels.CartView

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@{
    string f_userId = user.HttpContext.Session.GetString("userId") ?? "1001";
}

@{
    ViewData["Title"] = "購物車";


    Dictionary<Product, short?> openWith = new Dictionary<Product, short?>();
}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">購物車</h1>
                    </div>
                </div>
                @*<div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">

                            </ol>
                        </nav>
                    </div>*@
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @*<h3>購物車清單</h3>*@
                </div>
                <br>

                <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">貨號</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">單價</th>
                            <th scope="col">數量</th>
                            <th scope="col">小 計</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 1;
                            int? Totall = 0;
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                int? subtotal = item.Quantity * item.UnitPrice;


                                string temp1 = "price" + i;
                                string temp2 = "getUUP" + i;
                                string temp3 = "pricevalue" + i;
                                string temp4 = "before" + i;


                        <tr>
                            <th scope="row">@item.ProductId</th>
                            <td>
                                <img class="card-img rounded-0 img-fluid" style="width:302.8px;height:302.8px" src="/img/ProductsImg/@Model.ProductImgs.FirstOrDefault(x => x.ProductId == item.ProductId).Img">
                            </td>
                            <td>@item.ProductName</td>  <!--.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName-->
                            <td id="SHOUP" name="SHOUP">@item.UnitPrice 元</td>

                            <input type="hidden" name="getUUP" id="@temp2" value="@item.UnitPrice" />


                            <td>
                                @*會員手動調整商品數量    應該要推進購物車資料庫裡的數量*@
                                @using (Html.BeginForm("dash", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                {
                                    <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                    <input type="submit" value="-" class="row">
                                }

                                <input class="row" name="PQuantity" id="@temp1" value="@item.Quantity" readonly>

                                @using (Html.BeginForm("plus", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                {
                                    <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                    <input type="submit" value="+" class="row">
                                }

                            </td>
                            @*各項單品小計(隨會員更改浮動相乘)@Model.PuserFilterModel.SMTotal*@

                            <td>
                                <div id="@temp3">@subtotal 元</div>
                            </td>

                            <input type="hidden" id="@temp4" value="" />


                            <td>
                                @*總金額(小計相加)@Model.PuserFilterModel.BigTotal =   @<tr id="Total">@Totall 元</tr> *@
                                @{ Totall += subtotal;}
                                @using (Html.BeginForm("delete", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                {
                                    <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                    <input type="submit" value="刪掉" class="bi bi-plus-lg">
                                }
                            </td>
                            <td>
                            </td>

                        </tr>

                                i++;

                            }
                        }

                    <tr class="table-warning">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">總金額： @Totall 元</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>

                    </tbody>

                </table>

                <form action="/PShopCart/Bill" method="post">

                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="UserName">收件人名稱</label>
                        <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="UserName" name="UserName" />
                        <label class="col-sm-3 col-form-label"></label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group row">
                        <input id="Address1" type="hidden" value="@Model.Address" />
                        <label class="col-sm-3 col-form-label" for="Address">地址</label>
                        <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="Address" name="Address" />
                        <label class="col-sm-3 col-form-label"></label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="Approval">付款方式</label>
                        <select name="Approval" id="Approval" class="form-control col-sm-9">
                            <option value="01">貨到付款</option>
                            <option value="02">信用卡</option>
                        </select>
                    </div>

                    <div class="form-group d-inline">
                        <button id="nowGive1" type="button" class="btn btn-light border border-0">同會員資料</button>
                    </div>


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/CampProducts" type="button" class="btn btn-secondary">再逛逛</a>
                        <input type="submit" class="btn btn-success" value="去買單">
                    </div>


                </form>
            </div>
        </div>

    </section>
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">

</script>

@{
    //string userName;
    //string address;

    //foreach (var item in ViewData["User"] as IEnumerable<User>)
    //{
    //    userName = item.UserName;
    //    address = item.Address;
    //}

}

<script>

    $("#nowGive1").click(function (event) {


        $("#UserName").val("@Model.UserName");
        $("#Address").val($("#Address1").val());

        });
</script>
