@model Prj_CSharpGo.Models.ShopCartViewModels.PShopCartViewMolds
@*
    @model List<Prj_CSharpGo.Models.ShopCartViewModels.PShopCartViewMolds>

    @{
        foreach (var item in Model)
        {
            //購物車版面架構
            <div class="col-12">
                <h1 class="tit3">@item.ProductId</h1>
                <a class="btn btn-success" href="/">確定訂單</a>
            </div>
            <div class="col-12">
                <h1 class="tit3">@item.ProductName</h1>
                <a class="btn btn-success" href="/">確定訂單</a>
            </div>
            <div class="col-12">
                <h1 class="tit3">@item.Quantity</h1>
                <a class="btn btn-success" href="/">確定訂單</a>
            </div>
            <div class="col-12">
                <h1 class="tit3">@item.TotalPrice</h1>
                <a class="btn btn-success" href="/">確定訂單</a>
            </div>
            <div class="col-12">
                <h1 class="tit3">@item.TotalPrice</h1>
                <a class="btn btn-success" href="/">確定訂單</a>
            </div>
        }
    }
*@
@{
        ViewData["Title"] = "露營用品";
}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">購物車</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Book Cover Deisgn
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>購物車清單</h3>
                </div>
                <br>


                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">貨號</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">數量</th>
                            <th scope="col">小 計</th>
                            <th scope="col">總金額</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model.ShoppingCart)
                      {
                        <tr>
                            <th scope="row">@item.ProductId</th>
                            <td>@Model.Product.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName</td>
                            <td>>@item.Quantity</td>
                            <td>
                                <select class="$form-select-bg-position" name="PlusPrice" id="PlusPrice">
                                    <option value="0">  0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">5</option>
                                </select>
                                <div><div id="pricevalue1"></div></div>

                            </td>
                            @*
                    <td>
                        @Model.Product.FirstOrDefault(x => x.ProductId == item.ProductId).SMTotal 元
                    </td>
                    <td id="total_price">
                        @item.BigTotal
                    </td>
                            *@
                        </tr>
                      }

                    </tbody>

                </table>

                @using (Html.BeginForm("ComfirmResult", "Campreserve", FormMethod.Post))
                {

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/Campreserve/Index" type="button" class="btn btn-secondary">再逛逛</a>
                    <button type="submit" class="btn btn-success">去買單~</button>

                </div>

                }

            </div>
        </div>
    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<script>
    @* var origin_price =@iteml.BigTotal;
    $("#PlusPrice").change(function () {
        if (PlusPrice != null) {
            $("#pricevalue1").empty()
            $("#pricevalue2").empty()
        }
        var s = parseInt($("#PlusPrice").prop("value")) * 100;

        $("#pricevalue1").append("(共  " + s + "  元)");
        $("#pricevalue2").append("(共  " + s + "  元)");
        $('#total_price').text(origin_price + parseInt(s));
        $("#Peoplenumber").val(s / 100)


    });
    *@

</script>


