@using Microsoft.AspNetCore.Http

@model Prj_CSharpGo.Models.ShopCartViewModels.returnshCartIndexVM

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@*@{
           string userid = user.HttpContext.Session.GetString("Userid") ?? "Guest";
    }*@

@{
    ViewData["Title"] = "購物車";
}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">購物車</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Book Cover Deisgn
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>購物車清單</h3>
                </div>
                <br>
                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">貨號</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">單價</th>
                            <th scope="col">數量</th>
                            <th scope="col">小 計</th>
                            <th scope="col">總金額</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 1;
                            int? Totall = 0;
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                string temp1 = "price" + i;
                                string temp2 = "getUUP" + i;
                                string temp3 = "pricevalue" + i;
                                string temp4 = "before" + i;
                                <tr>
                                    <th scope="row">@item.ProductId</th>
                                    <td>@item.ProductName</td>  <!--.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName-->
                                    <td id="SHOUP" name="SHOUP">@item.UnitPrice 元</td>

                                    <input type="hidden" name="getUUP" id="@temp2" value="@item.UnitPrice" />


                                    <td>
                                        @*會員手動調整商品數量    應該要推進購物車資料庫裡的數量*@
                                        <select class="$form-select-bg-position " name="PQuantity" id="@temp1">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </td>
                                    @*各項單品小計(隨會員更改浮動相乘)@Model.PuserFilterModel.SMTotal*@
                                    <td>
                                        <div id="@temp3">@item.UnitPrice 元</div>
                                    </td>

                                    <input type="hidden" id="@temp4" value="" />


                                    <td>
                                        @*總金額(小計相加)@Model.PuserFilterModel.BigTotal =   @<tr id="Total">@Totall 元</tr> *@
                                        @{ Totall += @item.UnitPrice;}

                                    </td>

                                </tr>
                                i++;

                            }
                            <tr id="Total">@Totall 元</tr>
                        }
                    </tbody>

                </table>
                @*把這頁的資料傳進資料庫ShoppingCartUserFilterModel的PuserFilterModel*@
                @*把這頁的資料傳進控制器PShopCartController的Index*@
                @using (Html.BeginForm("OrderIndex", "PShopCartController", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                {

                    @Html.HiddenFor(Model => Model.PuserFilterModel.UserId)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.ProductId)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.ProductName)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.UnitPrice)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.Quantity)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.SMTotal)
                    //@Html.HiddenFor(Model => Model.PuserFilterModel.BigTotal)

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/Home/Product" type="button" class="btn btn-secondary">再逛逛</a>
                        <a href="/PShopCart/OrderIndex" type="submit" class="btn btn-success" id="comform">去買單</a>

                    </div>
                }
            </div>
        </div>
    </section>
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">

</script>


@for (int j = 1; j < @Model.ShoppingCarts.Count() + 1; j++)
{
    <script>
        @{var UUP = "getUUP" + j.ToString(); }//抓這個購物車裡 特定商品的價格
        @{var TTemp = "price" + j.ToString(); }//會員可以選擇的商品數量
        @{ var Temp3 = "pricevalue" + j.ToString();}//這是確定下訂數量
        $("#@TTemp").change(function () {
                if (@TTemp != null) {
                  $("#@Temp3").empty()
                }
                //S是小計  要傳回去購物車的資料庫
                var s = parseInt($("#@TTemp").prop("value")) * parseInt($("#@UUP").prop("value"));
            $("#@Temp3").append(  s + "  元");

            @Totall=0;
            @foreach (var item in Model.ShoppingCarts)
            {

                 Totall += @item.UnitPrice;
             }
             $('#Total').text(@Totall);

            @*$.ajax({
                type: "post",
                url: "/PShopCart/Index/" +"@item.ProductId" +"@TTemp",
                contentType: "application/json",
                data: JSON.stringify()
            })
                .then(function (e) {

                })*@

            });
    </script>
}

<script>
        $("#comform").click(function () {
            alert('@Html.Raw(ViewBag.messagea)');
         });

</script>
