@using Microsoft.AspNetCore.Http

@*@model Prj_CSharpGo.Models.ShopCartViewModels.returnshCartIndexVM*@

@model Prj_CSharpGo.Models.ShopCartViewModels.CartView

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@{
    string f_userId = user.HttpContext.Session.GetString("userId") ?? "1001";
}

@{
    ViewData["Title"] = "購物車";
    Dictionary<Product, short?> openWith = new Dictionary<Product, short?>();
}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section style="margin-top:60px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">購物車</h1>
                    </div>
                </div>
                @*<div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">

                            </ol>
                        </nav>
                    </div>*@
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @*<h3>購物車清單</h3>*@
                </div>
                <br>

                <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">貨號</th>
                            <th scope="col">商品照</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">單價</th>
                            <th scope="col"></th>
                            <th scope="col">數量</th>
                            <th scope="col"></th>
                            <th scope="col">小 計</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 1;
                            int? Totall = 0;
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                int? subtotal = item.Quantity * item.UnitPrice;


                                string temp1 = "price" + i;
                                string temp2 = "getUUP" + i;
                                string temp3 = "pricevalue" + i;
                                string temp4 = "before" + i;


                                <tr>
                                    <th scope="row">@item.ProductId</th>
                                    <td>
                                        <img class="card-img rounded-0 img-fluid" style="width:200px;height:200px" src="/img/ProductsImg/@Model.ProductImgs.FirstOrDefault(x => x.ProductId == item.ProductId).Img">
                                    </td>
                                    <td>@item.ProductName</td>  <!--.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName-->
                                    <td id="SHOUP" name="SHOUP">
                                        @item.UnitPrice 元

                                    </td>

                                    <input type="hidden" name="getUUP" id="@temp2" value="@item.UnitPrice" />


                                    <td style="width: 15px; height: 15px">
                                        <div class="list-inline-item">
                                            @*會員手動調整商品數量    應該要推進購物車資料庫裡的數量*@
                                            <div class="col-md-1-4-1">
                                                @using (Html.BeginForm("dash", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder  bi bi-dash-lg  form-control bi bi-plus-lg
                                                {
                                                    <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                                    <input type="submit" value="-" class="btn btn-success">
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 65px; height: 65px; margin:-10px">
                                        <div >
                                            <input class="form-control" name="PQuantity" id="@temp1" value="@item.Quantity" readonly>
                                        </div>

                                    </td>
                                    <td style="width: 15px; height: 15px">
                                        <div class="col-md-1-4-1">
                                            @using (Html.BeginForm("plus", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                            {
                                                <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                                <input type="submit" value="+" class="btn btn-success">
                                            }
                                        </div>
                                    </td>



                                    @*各項單品小計(隨會員更改浮動相乘)@Model.PuserFilterModel.SMTotal*@

                                    <td>
                                        <div id="@temp3">@subtotal 元</div>
                                    </td>

                                    <input type="hidden" id="@temp4" value="" />


                                    <td>
                                        @*總金額(小計相加)@Model.PuserFilterModel.BigTotal =   @<tr id="Total">@Totall 元</tr> *@
                                        @{ Totall += subtotal;}
                                        @using (Html.BeginForm("delete", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                        {
                                            <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                            <input type="submit" value="刪掉" class="btn btn-secondary">
                                        }
                                    </td>

                                </tr>


                                i++;

                            }
                        }

                    <tr class="table-warning">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">總金額：</th>
                        <th scope="col">@Totall 元</th>
                    </tr>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/CampProducts" type="button" class="btn btn-secondary">再逛逛</a>
                            <a href="/PShopCart/Bill " type="submit" class="btn btn-success"id="comform" >去買單</a>
                        </div>
                    </tbody>

                </table>
                @*把這頁的資料傳進資料庫ShoppingCartUserFilterModel的PuserFilterModel*@
                @*把這頁的資料傳進控制器PShopCartController的Index*@


                @*@Html.HiddenFor(Model => Model.PuserFilterModel.UserId)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.ProductId)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.ProductName)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.UnitPrice)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.Quantity)
                    @Html.HiddenFor(Model => Model.PuserFilterModel.SMTotal)
                    //@Html.HiddenFor(Model => Model.PuserFilterModel.BigTotal)*@



            </div>
        </div>
    </section>
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">

</script>



@for (int j = 1; j < @Model.ShoppingCarts.Count() + 1; j++)
{
    <script>
        @{var UUP = "getUUP" + j.ToString(); }//抓這個購物車裡 特定商品的價格
        @{var TTemp = "price" + j.ToString(); }//會員可以選擇的商品數量
        @{ var Temp3 = "pricevalue" + j.ToString();}//這是確定下訂數量
        $("#@TTemp").change(function () {
                if (@TTemp != null) {
                  $("#@Temp3").empty()
                }
                //S是小計  要傳回去購物車的資料庫
            var s = parseInt($("#@TTemp").prop("value")) * parseInt($("#@UUP").prop("value"));

            $("#@Temp3").append(  s + "  元");


            @*$.ajax({
                type: "post",
                url: "/PShopCart/Index/" +"@item.ProductId" +"@TTemp",
                contentType: "application/json",
                data: JSON.stringify()
            })
                .then(function (e) {

                })*@

            });
    </script>
}

<script>

</script>
